h1{
    padding-left: 10px;
}
#mainSwitch{
    margin-left: 15px;
}
/*Main panel---------------------------*/
#credibilityScore{
    margin-top:10px;
}
#machineViewDiv, #sequenceViewDiv{
    margin-bottom:10px;
}

#newsTitle{
    margin-bottom: 10px;
    font-size: large;
}

#boundingPanelText{
    border-color: gray;
    border-width: 1px;
    border-style: dashed;
    border-radius: 10px;
    padding: 6px;
    /* height: fit-content;*/
}

#fullText{
    text-align: justify;
}
/*sentences style-----------------------------------*/
#targetDiv{
    margin-top:10px;
    margin-bottom: 5px;
}
/*text span style-----------------------------------*/
span.wavy {
    text-decoration: red underline wavy;
}
span.underlined {
    text-decoration: underline ;
}

span.normal{
    border-radius: 3px;
}

span.quotingTitle{
    font-style: italic;
}

/*end text span style*/
/*style barchart-----------------------------------*/
/*.normalBar{
    fill: steelblue;
}*/

.thisBar{
    fill: orange;
}

.normalBar:hover {
	fill: darkslateblue;
}

.thisBar:hover {
	fill: darkorange;
}
/*end style barchart*/

/*sentences style-----------------------------------*/
.credibleSentenceSpan{
    color: green;
}
.nonCredibleSentenceSpan{
    color: red;
}
.credibleSourceSpan{
    color: green;
    float: right;
}
.nonCredibleSourceSpan{
    color: red;
    float: right;
}

.sentenceTitleDiv{
    font-size: x-large;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 10px;
}
.sentenceMapTitleDiv, .featContribTitleDiv, .featDistribTitleDiv{
    font-size: x-large;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.sentenceSubTitleDiv, .sentenceMapSubTitleDiv, .featContribSubTitleDiv{
    padding-bottom: 9px;
    font-style: italic;
    font-size: 10pt;
}
.sentenceDiv{
    padding-bottom: 10px;
    cursor:pointer;
}
/*end sentences style*/

/* fakelandmap-----------------------------------*/
div.tooltip {	
    position: fixed;			
    text-align: center;			
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

/* end fakelandmap*/

/*checkboxes-----------------------------------*/

.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}

/*end checkboxes*/